body {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: linear-gradient( 174.2deg,  rgb(255, 244, 228) 7.1%, rgba(240,246,238,1) 67.4% );
  }

.container-fluid {
  background-color: #fb9038;
}

.btn {
  background-color: #fb9038;
}

.contenido {
  width: 600px;
  margin-left: 20px;
  color: black;
}

.contenido1 {
  width: 600px;
  margin-left: 20px;
  color: black;
}

.imagen2 {
  margin: 80px 0px -350px -500px;
  width: 200px;
}

.contenido2 {
  width: 550px;
  margin-left: 200px;
  color: black;
}

.contenido3 {
  text-align: center;
  color: black;
}
  
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
  
.carousel-item {
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
  
.featurette-divider {
  margin: 5rem 0; 
}
  
.featurette-heading {
  letter-spacing: -.05rem;
}

.G_U {
  width: 240px;
  margin-left: 73%;
} 

.col-lg-4 h4 {
  margin-left: 90%;
}

.Tramites {
  width: 180px;
  margin-left: 80%;
}

.form-control {
  width: 245px;
}

.nombre {
  margin-left: 10%;
  margin-top: -5%;
}

.usuario {
  width: 50px;
  height: 50px;
  margin-left: 800%;
  margin-top: 10%;
}
  
@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  
  .featurette-heading {
    font-size: 50px;
  }
}
  
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}