html,
body {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: linear-gradient( 174.2deg,  rgb(255, 244, 228) 7.1%, rgba(240,246,238,1) 67.4% );
}

.btn {
    background-color: #fb9038;
    color: azure;
    border-bottom: 20%;
}

.dropdown{
  position: absolute;
  left: 50%;
  top: 79%;
}

.container-fluid {
  background-color: #fb9038;
}
