body {
  background-color: #fff4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 60%;
}

*{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
}

form {
  width: 600px;
  border: 2px solid black;
  padding: 6rem;
  background-color: #fcd37a;
  border: none;
  border-radius: 20px;
}

h1{
  display: block;
  border: 2px;
  width: 95%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

label{
  color: black;
  font-size: 18px;
  padding: 10px;
  font-weight: 300;
}

input{
  display: block;
  border: 2px solid black;
  width: 95%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

button{
  float: right;
  background-color: #fb9038;
  padding: .5rem;
  color: white;
  border: none;
  width: 40%;
  border-radius: 5px;
  margin-right: 110px;
  text-decoration: none;
}

button:hover {
  background-color: white;
  color: black ;
}

.container-fluid {
  background-color: #fb9038;
}