html,
body {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff4e4;
}

.container-fluid {
    background-color: #fb9038;
}

.card {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 10%;
    align-items: center;
}